/* GEC2 */
.gecDivCanvas {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 26px 26px;
} 
#subDiv_gecInGate {
}
#subDiv_gecInTime {
    grid-row: 2;
}
#subDiv_gecCanvas {
    grid-row: 1;
    grid-column: 2;
}

