/* SYNTH */
.synthPanel {
    background-color: rgb(34, 29, 29);
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.synthPanel2 {
    background-color: rgb(34, 29, 29);
    display: flex;
    flex-direction: row;
    padding: 5px;
}
/* MODULE */
.modulePanel {
    background-color: rgb(53, 45, 45);
    border: 1px solid grey;
    color: grey;    
    padding: 2px;
    margin-right: 5px;
    min-width: max-content;
}
.matricePanel {
    background-color: rgb(53, 45, 45);
    border: 1px solid grey;
    color: grey;    
    padding: 2px;
    margin-right: 5px;
    min-width: max-content;
    max-height: 100px;
}
.modulePanel > div {
    padding: 2px;
    min-width: max-content;
}

.subDiv {
    padding: 2px;
    display: inline;
    border: 1px solid grey;
    font-size: small;
}
/* OSC SECTION */
.divTitle {
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #221d1d;
    margin: 2px;
}
.btnOn {
    width: 10px;
    position: absolute;
    right: 0;
    border-radius: 10px;

    color: transparent;
    background-color: red;
}
/* .subDiv {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #221d1d;
} */
.oscDivWave > .subDiv {
    display: flex;
    justify-content: space-between;
}
.oscToggleWave {
    width: 39px;
    background-color: #221d1d;
    border-radius: 8px;
}

.modMatriceSelect {
    width: min-content;
}

/* OSC GAIN */
.gainDivGain {
    display: flex;
    flex-direction: column;
    max-width: 40px;

}
.gainDivGain > input[type=range] {
    width: 50px;

    /* input range 1*/
    /* transform-origin: 33px 25px;  */  
    /* transform-origin: 35px 20px; */

    /* input range 2*/
    transform-origin: 32px 22px;
    transform: rotate(-90deg);
}
/* input range 1*/
/* input[type=range] {
    -webkit-appearance: none;
    height: 5px;
    border: 1px solid grey;
    border-radius: 8px;
} */

/* input range 2*/
input[type=range] {
    -webkit-appearance: none;
    padding: 0;               
    outline: none;   
    opacity: .8;
    box-sizing: border-box; 
    transition: opacity .2s;
    cursor: pointer;
}
input[type=range]::-moz-range-track {
    height: 100%;
    /* border: none; */
    border: 1px solid grey;
    border-radius: 0;
    background-color: transparent; 
  }
  input[type=range]::-moz-range-thumb {
    width: 5px;
    height: 100%;
    border: none;
    border-radius: 0;
  }
  input[type=range]::-moz-range-progress {
    height: 0;
    background: transparent;
    border: 1px solid grey;
  }
/* FILTER */
.filterBtnOn {
    width: 2px;
    padding-bottom: 5px;
    max-height: 5px;
    border-radius: 10px;
    color: transparent;
    background-color: red;
}
/* GAIN OUTPUT */
.gainDiv {
    display: flex;
    flex-direction: column;
}

/* EG */
.btnMode {
    width: 39px;
    background-color: #221d1d;
    border-radius: 8px;
}
/*  */
canvas {
    border: 1px solid white;
}

input[type=text], input[type=number], select {
    width: 40px;
    /* max-width: 40px; */
    border-radius: 8px;
}

.btnSynth, .btnPlay {
    background-color: #221d1d;
    border-radius: 8px;
}